In [ ]:
def theMax(numbers):
  max = -1
  for k in numbers:
    if max < k:
      max = k
  return max

def theMin(numbers):
  min = 1000000000
  for k in numbers:
    if min > k:
      min = k
  return min

def theAverage(numbers):
  total = 0
  for k in numbers:
    total+= k
  return total/ len(numbers)

def theSD(numbers):
  total = 0
  avg = theAverage(numbers)
  for k in numbers:
    total += pow(k-avg,2)
  return pow(total/(len(numbers)-1),.5)

def theGeoMean(numbers):
  total = 1
  for k in numbers:
    total *= k
  return pow(total, 1/len(numbers))

theList = [19, 32, 34, 33, 75, 91, 9, 4, 18, 38]
print(theAverage(theList))
print(theGeoMean(theList))

35.3
25.464536135860143

In [ ]:
import math

def chooseShape():
  val = input("Press 1 for triangle, 2 circle, 3 for square")
  if val == 1:
    triangleArea()
  elif val == 2:
    circleArea()
  elif val == 3:
    squareArea()
  else:
    print("Invalid choice")

def triangleArea():
  base = float(input('What is the base?'))
  height = float(input('What is the height?'))
  print(f'The area is {base*hegiht/2}.')

def circleArea():
  radius = float(input('What is the radius?'))
  print(f'The area of the circle is {radius*radius*math.pi}')

def squareArea():
  side = float(input('What is the side?'))
  print(f'The area is {side**2}.')

In [ ]:
def doubleIt(x):
  choice = int(input('Say 1 to double the numbers and 2 to double the values'))

  if choice ==1:
    return x*2

  elif choice ==2:
    for k in range(len(x)):
      x[k] = x[k]*2
    return x


val = [1, 2, 3]
other = doubleIt(val)

print(other)

Say 1 to double the numbers and 2 to double the values2
[2, 4, 6]

In [ ]:
def putTogether(x,y):
  other = []
  for i in range(len(x)):
    other.append(x[i] *10 + y[i])
  return other

x = [1, 2, 3]
y = [7, 8, 9]
print(putTogether(x,y))

[17, 28, 39]

In [ ]:
# Python program to print all 
# prime number in an interval
#number should be greater than 1
start = 0
end = 100
 
for i in range(start,end):
  if i>1:
    for j in range(2,i):
        if(i % j==0):
            break
    else:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [15]:
#Program makes a calculator

# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

print("Select operation.")
print("1.Add")
print("2.Subtract")

while True:
    # Take input from the user
    choice = input("Enter choice(1/2): ")
    num1 = float(input("Enter first number: "))
    num2 = float(input("Enter second number: "))

    if choice == '1':
        print(num1, "+", num2, "=", add(num1, num2))

    elif choice == '2':
        print(num1, "-", num2, "=", subtract(num1, num2))
    break
else:
    print("Invalid Input")

Select operation.
1.Add
2.Subtract
Enter choice(1/2): 2
Enter first number: 10
Enter second number: 4
10.0 - 4.0 = 6.0

In [22]:
n = 0
for i in range(1,1000):
     if not i % 5 or not i % 3:
         n = n + i
print(n)

233168

In [ ]:
#sum of even valued fibonacci numbers
def fib():
  a = 1
  b = 1
  total = 0

  for k in range(5000):
   c = a +b
   if c >=1000:
    break
   elif (c % 2 == 0):
    total += c
  a = b
  b = c

  return total

print(fib())

10000

In [23]:
def compute():
	result = sum(i for i in range(2, 1000000) if i == fifthPower_digitSum(i))
	return str(result)

def fifthPower_digitSum(n):
	return sum(int(x)**5 for x in str(n))
print("\nSum of all the numbers that can be written as the sum of fifth powers of their digits:")
print(compute())

Sum of all the numbers that can be written as the sum of fifth powers of their digits:
443839